/*
  Custom styles for Wellington Hospital Fundraiser
*/

#banner a.icon {
  color: white;
  font-size: 3.5em;
  letter-spacing: 1em;
}

/* Mobile */
@media screen and (max-width: 736px) {

  #banner a.icon {
    font-size: 2.5em;
    letter-spacing: 0.5em;
  }

}

.row.full-width > div {
  padding: 0 2em 0 2em;
}

.push-down-1 {
  margin-top: 1em;
}

.push-down-2 {
  margin-top: 2em;
}

.push-down-3 {
  margin-top: 3em;
}

.push-down-4 {
  margin-top: 4em;
}

.push-down-5 {
  margin-top: 5em;
}
